<div style="padding: 20px; font-family: sans-serif;">
  <h1>ระบบจัดการรายชื่อ (Angular + .NET + MongoDB)</h1>

  <button class="btn-add" (click)="openAddModal()">+ เพิ่มรายชื่อใหม่</button>

  <table border="1" cellpadding="10" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="background: #333; color: white;">
        <th>ชื่อ-นามสกุล</th>
        <th>ที่อยู่</th>
        <th>วันเกิด</th>
        <th>อายุ</th>
        <th>จัดการ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of people">
        <td>{{ p.firstName }} {{ p.lastName }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.birthDate }}</td>
        <td>{{ p.age }}</td>
        <td>
          <button class="btn-view" (click)="openViewModal(p)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="people.length === 0" style="text-align: center;">ไม่มีข้อมูล</p>


  <div class="modal-overlay" *ngIf="showAddModal">
    <div class="modal-content">
      <h2>เพิ่มสมาชิกใหม่</h2>
      <div class="form-row">
        <div class="form-group">
          <label>ชื่อจริง:</label>
          <input [(ngModel)]="newPerson.firstName" placeholder="กรอกชื่อจริง">
        </div>

        <div class="form-group">
          <label>นามสกุล:</label>
          <input [(ngModel)]="newPerson.lastName" placeholder="กรอกนามสกุล">
        </div>
      </div>
      <div class="form-group">
        <label>วันเกิด:</label>
        <input type="date" [(ngModel)]="newPerson.birthDate">
      </div>
      <div  class="form-group">
        <label>อายุ : {{ calculatedAge }} ปี</label>
      </div>
      <div class="form-group">
        <label>ที่อยู่:</label>
        <input [(ngModel)]="newPerson.address" placeholder="กรอกที่อยู่">
      </div>

      <div style="text-align: right; margin-top: 20px;">
        <button class="btn-save" (click)="saveNewPerson()">บันทึก</button>
        <button class="btn-cancel" (click)="closeAddModal()">ยกเลิก</button>
      </div>
    </div>
  </div>


  <div class="modal-overlay" *ngIf="showViewModal && selectedPerson">
    <div class="modal-content">
      <h2>รายละเอียดสมาชิก</h2>
      <hr style="border: 0; border-top: 1px solid #eee; margin: 15px 0;">

      <p><strong>ชื่อ-นามสกุล:</strong> {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}</p>
      <p><strong>วันเกิด:</strong> {{ selectedPerson.birthDate }}</p>
      <p><strong>อายุ:</strong> {{ selectedPerson.age }} ปี</p>
      <p><strong>ที่อยู่:</strong> {{ selectedPerson.address }}</p>
      <p><strong>ID:</strong> <span style="font-size: 0.8em; color: gray;">{{ selectedPerson.id }}</span></p>

      <div style="text-align: right; margin-top: 20px;">
        <button class="btn-cancel" (click)="closeViewModal()">ปิด</button>
      </div>
    </div>
  </div>

</div>